
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>Samet HANCI</p>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Kategori Adı</th>
                    <th scope="col">Kategori Açıklaması</th>
                    <th scope="col">Kategori Durumu</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Spor</td>
                    <td>Burası spor kategorisidir.</td>
                    <td>Aktif</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Eğitim</td>
                    <td>Burası eğitim kategorisidir.</td>
                    <td>Aktif</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Kitap</td>
                    <td>Burası kitap kategorisidir.</td>
                    <td>Aktif</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
